{% extends 'base.html' %}
{% block title %} Home page {% endblock %}

{% block body %}

<div class="container">


    <div class="row">
        <h2 class="display-3" style="font-size: 50px;">Student Data</h2>

        <table class="table p-3 m-3">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Roll</th>
                
                <th scope="col">Marks</th>
                <th scope="col">Grade</th>
              
              </tr>
            </thead>
           
            <tbody>
                {% if students != None %}
                {% for student in students %}
              <tr>
                <th scope="row">{{student.id}}</th>
                <td>{{student.student_name}}</td>
                <td>{{student.student_roll}}</td>
               
                <td>{{student.student_marks}}</td>
                <td>{{student.student_grade}}</td>
              
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
    </div>
</div>

{% endblock %}